#logo{
    width: 75px;
    length: 150px; 
    
}


#logo1{
    width: 75px;
    length: 150px;
    position: fixed;
    right: 200px;
}

#logo2{
    width: 100px;
    length: 200px;
    position: fixed;
    right: 100px;
    
}


#logo3{
    width: 50px;
    length: 50px;
    position: fixed;
    right: 50px;
}

.search-bar{
    length: 750px;
    position: fixed;
    left: 700px ;
    
}